*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
body{
    background: #D8DBE2;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
}

.ul,li,a,.content a{
    list-style: none;
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
    height: 10vh;
    margin-bottom: 6rem;
}

nav ul li a{
    margin-right: 10rem;
    font-size: 1.8rem;
    color: gray;
    padding: 1rem 2rem;
    border-bottom: 1px solid black;
    outline: none;
}
.content{
    display: grid;
    grid-template-columns: 5% auto 1fr minmax(600px,1fr) 5%;
    
}

.content__name{
    grid-column:3/4 ;
    font-family: 'Raleway', sans-serif;
    align-self: center;
    margin-left: 6rem;
    transform: rotate(-90deg);
    justify-self: start;
    font-size: 10rem;
    letter-spacing: 1rem;
    position: relative;
}
.content__name::after{
    content: 'design';
    position: absolute;
    top: 60px;
    left: -30px;
    color: rgba(205, 134, 63, 0.623);
    text-transform: uppercase;
}
.contact{
    font-family: 'Raleway', sans-serif;
    color: rgb(94, 92, 92);
    font-size: 2rem;
    grid-column: 2/3;
    align-self: center;
    transform: rotate(-90deg);
    border-bottom: 1px solid peru;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
}

.content__pic{
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
    
}


.content__pic img{
    width: 60%;
    height: 60%;
    object-fit: contain;
    
}




.footer a{
    color: rgb(94, 92, 92);
    transform: rotate(-90deg);
}

.footer__social{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;

}
.footer__social > a:hover{
    color:peru;
}
.cover-start{
    transform: translateY(100%);
}
.cover{
    display: grid;
    grid-template-columns:repeat(4,25%);
    width: 100%;
    height: 85vh;
    /* z-index: 10; */
    overflow: hidden;
    color: rgb(34, 59, 136);
    position: absolute;
    top:15vh;
    left: 0px;
    
    
}

.cover > div{
    background-color:#000942;
    width: 100%;
    height: 100%;
    transform: translateY(1000px);
    display: flex;
    flex-direction: row;
    
}
.cover > div ~ span{
    display: inline-block;
}
.cover-div-3-span:hover,
.cover-div-1-span:hover,
.cover-div-2-span:hover{
    transform: translateY(10px);
    cursor: pointer;
    color: rgb(228, 155, 228);
    border-bottom: 1px solid rgb(228, 155, 228);;
}

.cover-div-1 span{
    color:#D8DBE2;
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    align-self:center ;
    margin-right: auto;
    margin-left: auto;
}

.cover-div-2 span{
    color:#D8DBE2;
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    align-self:center ;
    
}

.cover-div-3 span{
    color:#D8DBE2;
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    align-self:center ;
    
}
.cover-div-4-img{
    width: 100%;
    height: 100%;
}
.cover-div-4-img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.products-toggle{
    background-color: #000942;
    color: transparent;
    border: 1px solid transparent;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
   -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
   transition: all 300ms ease-in-out;
   
}
.cover-location{
    display: grid;
    grid-template-rows: repeat(8,12.5%);
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 15vh;
    left: 0px;
    overflow: hidden;
    background-color: #D8DBE2;
    
    
}

.cover-location-start{
    transform: translateX(100%);
}
.cover__location-div-0,
.cover__location-div-2,
.cover__location-div-4,
.cover__location-div-6{
    width: 100%;
    height: 100%;
    display: flex;
    background-color:black;
    clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 95%, 5% 95%, 5% 100%, 100% 100%, 100% 0%);
    text-align: left;
    font-size: 3rem;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.cover__location-div-1,
.cover__location-div-3,
.cover__location-div-5,
.cover__location-div-7{
    padding-left: 1rem;
    background-color:black;
    text-align: left;
    font-size: 3rem;
    color: white;
    clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 95%, 5% 95%, 5% 100%, 100% 100%, 100% 0%);
    width: 100%;
    height: 100%;
    display: flex;
}

.cover-location > div ~ span{
    text-transform: uppercase;
    font-size: 2rem;
    
}
/* .cover-location > div{
    width: 100%;
    height: 100%;
    background-color: rgb(228, 155, 228);
    
}
.cover-location:nth-child(odd){
    transform: translateX(100%);
}
.cover-location:nth-child(even){
    transform: translateX(-1000px);
} */
.location-images{
    position: absolute;
    top: 15%;
    width: unset;
    width:80%;
    height:auto;
    margin: 0;
    margin-left: 15rem;
    margin-right: 20rem;
    background-color:#D8DBE2;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 1rem;
    opacity: 0;
}

.location-1{
 background: url(./images/istanbul.jpg);
 box-shadow: inset 0 0 10px 100px rgba(205, 134, 63, 0.75);
 /* background-size: 20rem 20rem; */
 background-size: 100%;
 background-repeat: no-repeat;
 position: relative;
}
.location-2{
    background: url(./images/kuala-lumpur.jpg);
    box-shadow: inset 0 0 10px 100px rgba(205, 134, 63, 0.75);
    /* background-size: 20rem 20rem; */
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.location-3{
    background: url(./images/amsterdam.jpg);
    box-shadow: inset 0 0 10px 100px rgba(205, 134, 63, 0.75);
    /* background-size: 20rem 20rem; */
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.location-4{
    background: url(./images/rome.jpg);
    box-shadow: inset 0 0 10px 100px rgba(205, 134, 63, 0.75);
    /* background-size: 20rem 20rem; */
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.image{
    width: 100%;
    height: 17rem;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image:hover{
    box-shadow: inset 0 0 0 0 rgba(205, 134, 63, 0.75);
}
.location-label{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 3rem;
    transition: 0.5s;
}

.image:hover .location-label{
    font-size: 0px;
    border: none;
}

.location-1::after{
    width: 100%;
    height: 55px;
    content: 'street : 52 no:18 beyoglu Galata   phone: +90 212 525 54 29';
    color:transparent;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 2rem;
    padding: 10px;
    text-align: right;
    text-transform: capitalize;
}
.location-2::after{
    width: 100%;
    height: 50px;
    content: 'Kuala lumpur pavillion third floor no:17 phone:+60 10 525 4254';
    color:transparent;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 2rem;
    padding: 10px;
    text-align: right;
    text-transform: capitalize;
}
.location-3::after{
    width: 100%;
    height: 50px;
    content: 'Westermarkt 20, 1016 GV Amsterdam, Netherlands';
    color:transparent;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 2rem;
    padding: 10px;
    text-align: right;
    text-transform: capitalize;
}
.location-4::after{
    width: 100%;
    height: 50px;
    content: 'Piazza di S. Giovanni in Laterano, 4, 00184 Roma RM, Italy';
    color:transparent;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 2rem;
    padding: 10px;
    text-align: right;
    text-transform: capitalize;
}

.location-1:hover::after,
.location-2:hover::after,
.location-3:hover::after,
.location-4:hover::after{
    color: black;
    transition: 1s;
}

.cover__location-div-0{
    cursor: pointer;
}